nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}
nav span {
  font-family: "Bungee";
}
.nav-right {
  display: flex;
  flex-direction: column; 
}

.nav-right i {
  display: flex;
  flex-direction: column;
  align-self: center;
}
