nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
nav span {
  font-family: "Bungee";
}
.nav-right {
  display: flex;
  flex-direction: column;
}

.nav-right i {
  display: flex;
  flex-direction: column;
  align-self: center;
}
