nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
nav span {
  font-family: "Bungee";
  font-size: 1.5em;
}
.nav-right {
  display: flex;
  flex-direction: column;
}

.nav-right i {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* Media query for mobile devices */
@media screen and (max-width: 1024px) {
  nav {
    height: 100px;
    background-image: url(http://www.transparenttextures.com/patterns/brushed-alum.png);
    background-color: grey;
    color: #4056a1;
  }
  nav span {
    font-size: 1.5em;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-right i {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #4056a1;
  }
}