tweet-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color:transparent;
  font-family: 'Source Sans 3', sans-serif;
  padding-bottom: 20px; /* Add spacing between tweets */
}
.tweet {
  border: 3px solid black;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  transition: box-shadow 0.3s;
}
.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  align-items: center;
}

.tweet img {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 70px;
  max-height: 70px;
  height: auto;
  width: auto;
}

.user-info {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-family: 'Source Sans 3', sans-serif;
}

.user-info h3 {/*user name */
  display: flex;
  justify-content: left;
  color: #4056A1;
  margin: 0;
  margin-bottom: 0.2em; /* Add spacing between username and handle */
  margin-right: 0.5em;
}

.user-info p {/*user handle */
  display: flex;
  justify-content: right;
  margin: 0;
  color: #5f698e;;
  font-size: 1em;
}

.tweet-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3 em;
  padding: 10px;
}

.tweet-line {
  position: center;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 5px;
  background-color: #374266; 
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.tweet-footer .icons {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.tweet-footer .date {
  color: #5f698e;
  font-size: 15px;
  font-family: 'Source Sans 3', sans-serif;
}

.tweet-footer .icons i {
  margin: 0 5px;
  color: #545149;
  cursor: pointer;
}

.tweet-footer .icons i:hover {
  color: #093ff2;
}
